{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "semi": ["error", "never"],
    "no-confusing-arrow": "off",
    "import/named": "error",
    "import/default": "error",
    "import/prefer-default-export": "off",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/img-has-alt": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [ '', '.js', '.jsx']
      }
    }
  }
}
